<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome {% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel='stylesheet' href="{{ asset('indreex.css')}}">
            <link rel='stylesheet' href=" {{ asset('animate.css') }} ">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
            <link rel="stylesheet" href="{{asset('form/index.css')}}">
            <link rel="stylesheet" href="{{ asset('css/index.css')}}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="icon" href="{{ asset('icons/logo1-восстановлено.png')}}">
            <link rel="stylesheet" href='{{ asset('frames/smoke-pure.css')}}'>
             <link rel="stylesheet" href="{{ asset('animate.css')}}">
        {% endblock %}

       <style>
	   		.responsive-frame {
				   	position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					width: 100%;
					height: 100%;
					
			   }
			   .btn-primary{
				   	color: #fff;
					background-color: #007bff;
					border-color: #007bff;
			   }
	   </style>
    </head>
    <body>
    <div class="preloader" id="preloader">
		
		<div id="fountainTextG">
			<div id="fountainTextG_1" class="fountainTextG">L</div>
			<div id="fountainTextG_2" class="fountainTextG">o</div>
			<div id="fountainTextG_3" class="fountainTextG">a</div>
			<div id="fountainTextG_4" class="fountainTextG">d</div>
			<div id="fountainTextG_5" class="fountainTextG">i</div>
			<div id="fountainTextG_6" class="fountainTextG">n</div>
			<div id="fountainTextG_7" class="fountainTextG">g</div>
			
		</div>

	</div> <!-- /preloader -->
        <header class="sticky-top">

		<nav class="navbar navbar-expand-lg navbar-light" id="menu">
			
			<!-- LOGO -->
			<a href="{{ path('home') }}" onclick="return up()" class="logo-header mostion"><img class="axilium-logo" src="{{ asset('icons/logo1-восстановлено.png')}}" alt="logo" width="70" height="45"></a>
			
			<!-- COLLAPSE BTN -->
			<div class="navbar_container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Togglenavigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>

			<!-- NAVIGATION -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav mr-auto">

					<li class="nav-item active">
						<a href="#" onclick="return up()" class="nav-link">Home</a>
					</li>

					<li class="nav-item">
						
					</li>

					<li class="nav-item dropdown">

						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Fundraising
						</a>

						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li>
								<a href="#recomended" class="dropdown-item">
									<i class="icon-star-empty"></i>
									<span>Recommended</span>
								</a>
							</li>
							
							<li>
								<a href="#popular" class="dropdown-item">
									<i class="fa fa-users"></i>
									<span>Popular</span>
								</a>
							</li>
						</ul>
						
					</li>						
					
				</ul>
				
			</div>

			<!-- ADD BTN -->			
			<div class="extra-nav" >
               <!-- <button class="menu-item menu-green" onclick='smoke.alert ("<h1>Axilium</h1><br/> Ой, вы не авторизованы! Войдите в свой аккаунт или зарегистрируйтесь.");'style="width:auto;">
					<i class="icon-plus"></i>
					Collect on Axilium
				</button> -->
             <a href='form/'>
             <button class="menu-item menu-green"style="width:auto;">
					<i class="icon-plus"></i>
					Collect on Axilium 
				</button></a>
				
				{% block  forms %}
				{% if app.user==null %}
				<div id="id01" class="modal">

					<div class="col-md-offset-3 col-md-6" style='margin-left:25%;'>

						<div class="tab" role="tabpanel">

							<ul class="nav nav-tabs" role="tablist">

								<li role="presentation" id="sign_in" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">sign in</a></li>
								<li role="presentation" id="sign"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">sign up</a></li>

							</ul>

							<div class="tab-content tabs">
							
							<div role="tabpanel" class="tab-pane fade in active show" id="Section1">
							<div class="container">
								<iframe src="{{ path('app_login') }}" style="border: none; " width="650" height="410" class="form-horizontal"></iframe>
							</div>
									
									
								
							</form> <!-- /form -->
							      <div class="form-group forgot-pass">
                                      <button onclick="smoke.prompt('Введите свой email. Вы получите письмо с подтверждением на свою почту', function(result){window.location.href = 'reset.php?token='+result;})" class="btn btn-default" style='color:grey'>Forgot password ?</button>
									</div>  
						</div>
							
							<div role="tabpanel" class="tab-pane fade" id="Section2">
								
								<form class="form-horizontal" action='' method="POST">
									
									<!--<div class="form-group">
										<label for="exampleInputEmail1">First Name</label>
										<input type="text" class="form-control" id="exampleInputEmail1" name='fname' required >
									</div>-->
									
									
									{{ form(Regform) }}
									
								</form> <!-- /form -->
							
							</div>
						
						</div> <!-- /tab-content -->

						</div> <!-- /tab -->

					</div><!-- /.col-md-offset-3 col-md-6 -->{% endif %}

				</div> <!-- /modal -->{% endblock %}

			</div>
			<!-- AVTORIZATION PROFILE -->
			{% if app.user!=null %}
			<div class="dropdown open" tabindex="0">
				
				<button class="btn btn-secondary dropdown-toggle avtorization" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<a class="menu-item menu-green user-name" href="#">
						<img class="avatar" src="{{ asset(app.user.photo) }}">
						<span> {{ app.user.name }}</span>
					</a>
				</button>
				
				<div class="dropdown-menu avtorization" aria-labelledby="dropdownMenuButton" tabindex="-1">
					<a class="item" href="{{ path('profile',{'id': app.user.id}) }}">
						<i class="icon-cogs"></i>
						<span>My Profile</span>
					</a>
					<a class="item" href="{{ path('app_logout') }}">
						<i class="icon-exit"></i>
						<span>Logout</span>
					</a>
				</div>
			
			</div> <!-- /AVTORIZATION PROFILE -->
			
			{% else %}
        <button class="site-button pull-right m-t15 login" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
			 {% endif %}
			

			
			

		</nav>
		
	</header> <!-- /HEADER -->
       {% block body %}{% endblock %}
	   
	   
	   <!-- FOOTER -->
	<footer class="page-footer font-small stylish-color-dark pt-4">

		<div class="container text-center text-md-left">

			<div class="row">

				<div class="col-md-4 mx-auto">

					<h6 class="text-uppercase font-weight-bold">Contact :</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 85px; background-color: #0e199e;">
					<p>
						<i class="fa fa-home "></i> New York, NY 10012, US
					</p>
					<p>
						<i class="fa fa-envelope"></i> info@example.com
					</p>
					<p>
						<i class="fas fa-tel"></i> + 01 234 567 88
					</p>

				</div>

				<hr class="clearfix w-100 d-md-none">

				<div class="col-md-4 mx-auto">
					<div class="footer_title">
						<h3 class="text-center">Axilium</h3>
					</div>
				</div>

				<hr class="clearfix w-100 d-md-none">

				<div class="col-md-4 mx-auto content">

					<h6 class="text-uppercase font-weight-bold content">Footer Content :</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto content" style="width: 159px; background-color: #0e199e;">
					<p class="text_about">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</p>

				</div>

			</div> <!-- /row -->

		</div> <!-- /container -->

		<hr>

		{% if app.user %}
			<ul class="list-unstyled list-inline text-center py-2">
				<li class="list-inline-item">
					<h5 class="mb-1">Welcome</h5>
				</li>
				<li class="list-inline-item">
					<font style="color:black; font-size:20px; text-decoration: underline;">{{ app.user.name }}</font>
				</li>
			</ul> 
			
        {% else %}
			<ul class="list-unstyled list-inline text-center py-2">
				<li class="list-inline-item">
					<h5 class="mb-1">Register for free</h5>
				</li>
				<li class="list-inline-item">
					<button class="btn btn-danger btn-rounded" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up!</button>
				</li>
			</ul>
			
		{% endif %}
		
		<hr>

		<ul class="list-unstyled list-inline text-center">
			<li class="list-inline-item">
				<a class="btn-floating btn-fb mx-1" href="#">
					<i class="fa fa-facebook-f"> </i>
				</a>
			</li>
			<li class="list-inline-item">
				<a class="btn-floating btn-tw mx-1" href="#">
					<i class="fa fa-twitter"> </i>
				</a>
			</li>
			<li class="list-inline-item">
				<a class="btn-floating btn-gplus mx-1" href="#">
					<i class="fa fa-google"> </i>
				</a>
			</li>
		</ul>

		<div class="footer-copyright text-center py-3">© 2020 Copyright: 
			<a href="#">Axilium</a>
		</div>

	</footer>
	<!-- FOOTER -->
    </body>
     {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
            <script src='{{ asset('frames/smoke-pure.js') }}' ></script>
            <!-- ANIMATION -->
           
            <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

            <script src="{{ asset('scripts.js')}}"></script>	
    {% endblock %}
</html>